
	body {
		  margin: 0;
		  padding: 0;
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		  background-color: gray!important;
		  color: white;
	}
	#bg-video {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		opacity: 0.7;
}
	  .nameko, .webdev, .p1{
		  text-align:left;
		  font-family: Arial, Helvetica, sans-serif;
		  text-shadow: 10px 10px 10px rgba(1, 1, 1, 1);
		  margin-left: 20px;
	  }
	  .column-1 p {
		  margin-top:8px;
		  text-align:left;
		  font-family: Arial, Helvetica, sans-serif;
		  text-shadow: 10px 10px 10px rgba(1, 1, 1, 1);
		  margin-left: 20px;
		  
	  }

      header {
        text-align: center;
      }

      h1 {
        font-size: 3em;
        margin-bottom: 10px;
      }

		.about {
		position: relative;
		height: auto;
		padding-left: 25px;
		padding-top: 180px;
		padding-bottom: 210px;
		padding-right: 25px;
      }
	     .project {
		position: relative;
		width: auto;
		height: auto;

      }
	  li {
        font-size: 15px;
	  }

			.animate__fadeInLeft {
			animation-duration: 1.5s;
			animation-name: fadeInLeft;
				}

			@keyframes fadeInLeft {
			from {
			opacity: 0;
			transform: translateY(20px);
				}
			to {
			opacity: 1;
			transform: translateX(0);
			}
				}
				

	    .contact {
		position: relative;
		height: auto;
        box-shadow: 0 0 10px gray;
		padding-left: 25px;
		padding-top: 150px;
		padding-bottom: 150px;
      }
	.my-image , .my-image1 , .my-image2 {
		max-width: 100%;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
		}

	@media screen and (max-width: 800px) {
		.my-image , .my-image1 , .my-image2 , .column-2, .experience-image, .menu-icon  {
		display: none;
		}
  }
      h2 {
        font-size: 2em;
        margin-bottom: 10px;
        text-align: center;
		 font-family: 'Montserrat', sans-serif
      }

      footer {
        margin-top: 50px;
        text-align: center;
      }
	  .two-column-layout {
  display: flex;
}

.column-1 {
  flex: 1;
}

.column-2 {
	flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
	margin-top: -150px;
  }

.my-image,
.my-image1,
.my-image2, .experience-image {
  max-width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  transition: transform 0.4s ease;
}

.my-image:hover,
.my-image1:hover,
.my-image2:hover,
.experience-image:hover,
#css:hover,
#cpp:hover,
#html:hover {
  transform: scale(1.12);
}
#css, #cpp, #html{
transition: transform 0.4s ease;
}
}
.container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  width: 100%;
  height: 300px;
}
  
	  *{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.box {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 45px;
    box-shadow: 0 8px 10px rgba(100, 255, 255, .7);
    padding: 5px;
    margin: 5px;
	width: calc(40% - 10px); 
}
.box2 {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 45px;
    box-shadow: 0 8px 10px rgba(100, 255, 255, .7);
    padding: 5px;
    margin: 5px;
	width: calc(40% - 10px); 
	margin-top: 1px;
}
.box3 {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 45px;
    box-shadow: 0 8px 10px rgba(100, 255, 255, .7);
    padding: 5px;
    margin: 5px;
	width: calc(40% - 5px); 
	margin-top: 10px;
}
#skills {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 45px;
    box-shadow: 0 8px 10px rgba(100, 255, 255, .7);
    padding: 5px;
    margin: 5px;
	width: calc(35% - 5px); 
	margin-top: 5px;
	transition: opacity 0.5s ease, transform 1.2s ease;
}
@media screen and (max-width: 760px) {
  #html, #css, #cpp, #soon {
    width: 50px; /* Set a smaller width for mobile view */
    height: 50px; /* Set a smaller height for mobile view */
	align-items: center;
  }
}



.box h2 {
    font-size: 24px;
    margin-top: 0;
}

.box h3 {
    font-size: 20px;
    margin-top: 16px;
}

.box p, .box2 p {
    font-size: 16px;
    line-height: 1.4;
    margin: 8px;
}
#job-experience{
	margin-top: 20px;
}
#jobexptitle{
	margin-bottom: -20px;
}
#job-experience, #job-experience2, #idproj, #jobexptitle, #skillTitle  {
    opacity: 0;
    transform: translateX(200px);
    transition: opacity 0.5s ease, transform 1.2s ease;
    padding: 30px; 
}
@media screen and (max-width: 760px) {
  #idproj {
    font-size: 1.5em; /* Adjust the font size for mobile view */
    text-align: center; /* Center-align the title for mobile view */
  }
  #idproj .h2{
	  margin-left: -10px;
  }
}

.experience-details {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center; 
    justify-content: space-between; 
}

.experience-text, .experience-text2 {
    flex: 1; 
    padding-left: 50px; 
	line-height: 1.5;
}

.experience-image {
    flex: 1; 
    max-width: 40%; 
    overflow: hidden; 
}

.experience-image img {
    max-width: 100%;
    height: auto;
}
/* Mobile styles */
@media screen and (max-width: 760px) {
  #job-experience,#job-experience2 {
    padding: 10px; /* Adjust padding for mobile view */
  }

  .experience-details {
    flex-direction: column; /* Stack image and text vertically */
  }

  .experience-text, .experience-text2 {
    padding-left: 0; /* Remove left padding for mobile view */
  }

  .experience-image {
    max-width: 100%; /* Make image full width on mobile */
    margin-top: 10px; /* Add spacing between image and text */
  }
}


.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 90vw;
	height: 80vh;
}
.bottomsec {
	width : 100%;
	display : flex;
	justify-content: center;
	height: 150px;
}
.input-container {
	width: 100%;
	max-width: 650px;
	position: relative;
}
input{
	
	width: 100%;
	border: none;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: rgb(30, 50, 70) 0 20px 30px -10px;
	box-sizing: border-box;
}
@media screen and (max-width: 760px) {
  .input-container {
    max-width: 100%;
    padding: 0 10px; /* Adjust padding for better mobile view */
  }

  input {
    width: 100%;
    font-size: 16px; /* Adjust font size for better mobile view */
  }
}
#SUBMITICON{
	position: absolute;
	top:10px;
	right: 30px;
	color: black;
	cursor: pointer;
}
.image-section {
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}
.container-image {
	width: 40%;
	border-radius: 15px;
	overflow:hidden;
	box-shadow: rgb(30, 50, 70) 0 20px 30px -10px;
	
}
.container-image img {
	width:100%;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    padding: 20px 0;
    text-align: center;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: rgb(2, 137, 212);
}
@media screen and (max-width: 800px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active ul {
    display: flex;
  }

  nav li {
    margin: 10px 0;
    text-align: center;
  }

  /* Hamburger menu icon */
  .menu-icon {
    display: block;
    cursor: pointer;
    text-align: right;
    padding: 10px 20px;
    color: white;
    font-size: 24px;
  }
}
/* Preloader styles */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.loader1 {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media screen and (min-width: 761px) {
  .menu-icon {
    display: none;
  }
}



	 
	 
	 
	 
	 
	 
	 



